<!doctype html>

 <html lang="en">
  <head>
    <title> Contact the cult! </title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>


  <body>


<div id="MidSection">
    <div id="HoldOut">
      <h1>HOLD OUT A LITTLE LONGER</h1>
      <h3>
        Fill out the form below and we will send you an email
        with a simple liability form for you to sign. After that, we
        ship you your free can of Kool-Aid, satisfaction
        guranteed. We've never heard a bad word from our
        wonderful customers, because they've already moved on to
        the afterlife!
      </h3>
    </div>

    <div id="Form">
      <form action = '' method = "POST">


        <div id = "firstName">
      <br><input type="text" name = "firstname" id = "firstname" placeholder = "First Name"><br> </div>
      <div id = "lastName"><br><input type="text" name = "lastname" id = "lastname" placeholder = "Last Name"><br></div>

      <nav id = "help">

      <br><input type="text" id = "email" name = "email" placeholder= "Email Address"><br>
      <br><input type="text" id = "con-email" name = "conemail" placeholder = "Confirm Email Address"><br>
    </nav>
      <h1><input type = "submit" id = "submitI" value = "BRING ON THE AFTERLIFE" onclick = checkresults()></h1>
    </form>
    </div>

    <div id="results">
    </div>
</div>


    <script src = "js/validate.js"></script>
  </body>


  </html>
